<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="/manager/layout">
<head>
    <title> 매니저 사이트  </title>
</head>

<div layout:fragment="content" >
    <div class="container">
        <div class="card-deck mb-3 text-center" style="margin-top: 3em;">

            <div class="card mb-4 shadow-sm" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> 리뷰한 영화 목록  </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span th:text="${movieReviewCount}">0</span> 개 </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li> 작성한 리뷰 개수 </li>
                    </ul>
                    <a type="button" class="btn btn-md btn-outline-primary" href="/manager/addMovieReview"> 리뷰 등록 </a>
                    <a type="button" class="btn btn-md btn-outline-primary" href="/manager/mymovies"> 리스트 보기 </a>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> 댓글 목록 </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"> <span th:text="${userReviewCount}">0</span> 개 </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li> 나의 리뷰에 달린 댓글 </li>
                    </ul>
                    <a type="button" class="btn btn-md btn-outline-primary" href="/manager/usercomment"> 리스트 보기 </a>
                </div>
            </div>


        </div>

    </div>
</div>

</html>