<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <h1> 테스트 메인 </h1>
    <h1 th:text="${title}">test</h1>
    <h1 th:text="${year}">test</h1>
    <h1 th:text="${plot}">test</h1>
    <h1 th:text="${type}">test</h1>
    <div>
        <a type="button" class="btn btn-md btn-outline-primary" href="/logout"> 로그아웃 </a>
    </div>
</body>
</html>